/* CSS Document */
.top-tab{
font-family:'Times New Roman', Times, serif; 
color:#000000; 
font-size:14px; 
font-weight:normal;
}
.space-heading{
padding-top:12px; 
padding-bottom:12px;
font-family:'Times New Roman', Times, serif; color:#000000;
font-size:13px;
color:#000000;
font-weight:bold;
}
.top-heading{
border:1px solid #999999; 
width:250px; font-family:'Times New Roman', Times, serif; 
color:#000000;font-size:20px;  
padding-top:10px; 
padding-bottom:13px;
}
/* 2page*/
.second-tab{

padding-left:8px;
font-family:'Times New Roman', Times, serif;
color:#000000; 
font-size:14px; 
font-weight:normal;
}
.space-heading2{
padding-top:12px; 
padding-bottom:5px;
font-family:'Times New Roman', Times, serif; color:#000000;
font-size:13px;
color:#000000;
font-weight:bold;
}
.spacer{
padding-left:90px;
font-family:'Times New Roman', Times, serif; 
color:#000000; 
font-size:14px; 
font-weight:normal;
}
.text-allign{
margin-top:-18px; 
margin-left:23px ; 
padding:0; 
margin-bottom:0px;
}


/*28 April Css*/
.text-box{
 border:1px solid #CCCCCC; 
 width:99%;  
 }
 .pad-lft{padding-left:20px;
 }
 /*30 April Css*/
 .pad-lft-new{padding-left:20px;}