			<!-- Healthy Back Habits -->
			<div class="box">
				<div class="box-header">
					<h2><i class="fa fa-film"></i>Today's Activities</h2>
					<div class="box-icon"> <a href="index.asp#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a> </div>
				</div>
				<div class="box-content" style="border-radius:8px; background-color:rgba(255,255,255,1);min-height:250px;">
					<div class="todo" style="border-radius:8px" id="dailyActivities2">
						<ul>
							<!--posture, flexibility, core strength, and mobility-->
							<!--<h3 class="section" style="cursor:pointer" onClick="void(0);">Tuesday, Jan 7, 2013 <i class="fa fa-angle-double-right" style="float:right; color:#999; font-size:18px;"></i><div class="clearfix"></div></h3>-->
							<p style="margin:20px">Good day to you! Today you have <span class="bubble">3</span> action items.</p>
							<li> <span class="todo-actions"> <a href="index.asp#"> <i class="fa fa-square-o"></i></a> </span> 
							<span class="desc"><a href="javascript:void();" onClick="$('#week-day-view').modal('hide');$('#videoViewer').modal('show');">Watch Video 002 
								<i class="fa fa-play-circle"></i></a></span> 
								<!--<span class="label label-important">p</span>--> </li>
							<li> <span class="todo-actions"> <a href="index.asp#"> <i class="fa fa-square-o"></i></a> </span> 
							<span class="desc">Stretch Exercise #4</span> 
								<!--<span class="label label-info">f</span>--> </li>
							<li> <span class="todo-actions"> <a href="index.asp#"> <i class="fa fa-square-o"></i></a> </span> 
							<span class="desc">Read article on Core Strength - Getting Started</span> 
								<!--<span class="label label-info">f</span>--> </li>
						</ul>
					</div>
				</div>
			</div>