
			<div class="box orange" id="messageCenter">
				<div class="box-header orange">
					<h2><i class="fa fa-comment orange"></i><span id="messageCenterTitle" >Message Center</span></h2>
					<div class="box-icon orange"> 
						<a href="#" class="btn-minimize"> <i class="fa fa-chevron-up orange"></i></a> 
					</div>
				</div>
				<div class="box-content orange" style="display:none;" id="messageCenterContent">
					<div><p><b>You have a New Message!</b> 
					Remember how important this is to you. You will be able to spend more time playing with your children and doing other physical activities without pain. It can sometimes take a while to create a new habbit, but the best way to start a new habbit is to give yourself reminders. Would you like to add reminders to your calendar? <br>Click here to add reminders.</p>
					</div>
				</div>
			</div>